<div "container">
<h1>COCKTAILS</h1>

<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %>
<% end %>

<button type="button" class="btn btn-primary"><%= link_to'Create a cocktail', new_cocktail_path %></button>

</div>
